@mixin mobile-button-styles {
  width: 80px;
  font-size: 14px;
  color: grey;
  margin: 0 auto;
  text-decoration: underline;
  @content;
}

@mixin desktop-button-styles {
  width: 90px;
  height: 30px;
  padding-top: 3px;
  border-radius: 3px;
  background-color: grey;

  color: white;
}
