@import "./partials/variables", "./partials/mixins", "./partials/functions",
  "./partials/resets";

body {
  font-size: calc(10px + 2vmin);
  background-color: white;
  color: black;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  flex-direction: column;
  border: solid 1px #24292e;
  border-bottom: solid 1px black;
  background-color: #24292e;

  padding: 10px 20px;

  a {
    margin-right: 10px;
    color: white;
  }
  .active {
    text-decoration: underline;
  }
  .github {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
}

.search {
  .form-search {
    border: solid 1.4px $form-color;
    border-radius: 3px;
    background-color: $form-color;
    display: block;
    width: 80%;
    height: 30px;
    margin: 10px auto;
    margin-top: 150px;
  }
  .form-button {
    height: 40px;
    width: 80%;
    font-weight: bold;
    border-radius: 5px;
    border: solid 1px #444;
    background-color: #444;
    color: white;
    cursor: pointer;
  }
}

.users-list {
  padding-left: 0;
  border: solid 15px #f4f4f4;
  :first-child {
    border: none;
  }
  li {
    display: flex;
    flex-direction: row;
    list-style: none;
    border-top: solid 1px lightgrey;
    padding: 10px;
  }
  h5 {
    flex: 1;
    text-transform: capitalize;
    margin: 25px auto;
  }
  img {
    width: 60px;
    height: 60px;
    border: solid 1px lightgrey;
    border-radius: 50%;
    margin-top: 10px;
  }
  a {
    @include mobile-button-styles {
      padding-top: 25px;
    }
  }
}

.container {
  min-height: 83vh;
}

.spinner {
  width: 300px;
  margin: 0 auto;
}
.singleuser {
  margin: 200px auto;
  .bio {
    font-weight: normal;
  }
  img {
    width: 150px;
    height: 150px;
    border: solid 1px lightgrey;
    border-radius: 50%;
  }
  .hireable {
    color: green;
  }
  .nothireable {
    color: red;
  }
  .back {
    @include mobile-button-styles;
  }
}

.searched-list {
  text-transform: capitalize;
  @include search-mobile-styles {
    img {
      margin: 20px auto;
    }
    a {
      padding: 40px 0px;
    }
    h5 {
      margin: 37px auto;
    }
  }
}

.about {
  margin: 200px auto;
}

@media (min-width: 738px) {
  body {
    font-size: 14px;
  }
  nav {
    text-align: left;
    flex-direction: row;
    padding: 20px;
  }

  .home {
    h2 {
      margin-top: 100px;
    }
  }

  .users-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 100px auto;
    border: none;
    :first-child {
      border: solid 2px lightgrey;
    }
    li {
      display: grid;
      border: solid 2px lightgrey;
      box-shadow: 1px 1px 10px lightgrey;
      opacity: 0.5;
      padding: 15px;
      list-style: none;
      &:hover {
        transition: all 0.4s;
        opacity: 1;

        transform: scale(1.15);
      }

      h5 {
        margin: 10px auto;
      }
    }

    a {
      margin: 0 auto;

      @include desktop-button-styles;
      text-decoration: none;
    }
    img {
      width: 70px;
      height: 70px;
      border: solid 1px lightgrey;
      border-radius: 50%;
      margin: 0 auto;
      object-fit: contain;
    }
  }

  .search {
    .form-button {
      width: 50%;
    }
    .form-search {
      width: 50%;
    }
  }

  .singleuser {
    margin: 20px auto;
    border: solid 5px #f4f4f4;
    border-radius: 5px;
    box-shadow: 1px 1px 20px darken(#f4f4f4, 13%);
    width: 75%;
    padding: 100px;

    .user-display {
      text-align: left;
    }
    img {
      display: inline-block;
      width: 250px;
      height: 250px;
    }
    h1 {
      font-size: 33px;
    }
    .bio {
    }

    .back {
      display: inline-block;
      @include desktop-button-styles;
      width: 120px;
      text-decoration: none;
      text-align: center;
    }
  }
  .searched-list {
    border: none;
    @include search-desktop-styles {
      :first-child {
        border-top: solid 2px lightgrey;
      }
      li {
        display: block;
        border-radius: 5px;
      }
      a {
        padding: 5px;
      }
      h5 {
        margin: 15px auto;
      }
    }
  }
}
